<!DOCTYPE html>
<html lang="en" dir="ltr">
@Html.Partial("~/Views/Layout/Head.cshtml")
<body>
    <div class="wrapper">
        @Html.Partial("~/Views/Layout/Header.cshtml")
        <main class="l-main">
            @Html.Partial("~/Views/Accueil/notifAdd.cshtml")
            @Html.Partial("~/Views/Accueil/Detail.cshtml")
            <div class="grid">
                <div class="grid__cell 1/4--desk">
                    @Html.Partial("~/Views/Menu/MenuDistributeur.cshtml")
                </div>
                <div class="grid__cell 3/4--desk">
                    <div class="content">
                        <div class="content__header">
                            <h1 class="content__header-title">gestion point de vente</h1>
                            <p class="content__header-txt">Suivie des points de ventes (stock actuels, etc, ...)</p>
                        </div>
                        <div class="content__body">
                            <div class="content__body-link">
                                <a class="btn-warning btn-link js-btn-show-card btn-icon" href="/Accueil/PointDeVenteMap">
                                    <img src="/image/print/list.png" alt="carte" width="32" height="32">
                                    <p class="btn-icon-txt">afficher sur la carte</p>
                                </a>
                                <a class="btn-primary btn-link btn-icon btn-pdf" href="#">
                                    <img src="/image/print/search.png">
                                    <p class="btn-icon-txt">Recherche</p>
                                </a> 
                            </div>
                            <div class="content__body-table" id="js-content__body">
                                <table class="table-default table-liste">
                                    <thead>
                                        <td class="table-header">point de vente</td>
                                        <td class="table-header">zone de travail</td>
                                        <td class="table-header">stock actuel</td>
                                    </thead>
                                    <tbody>
                                        @foreach (var pv in ViewBag.listPointDeVenteStock)
                                        {
                                            <tr class="table-body table-body-light table-body-row">
                                                <td>@pv.PointDeVente</td>
                                                <td>@pv.ZoneTravail</td>
                                                <td>@pv.Stock</td>
                                            </tr>                                           
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("~/Views/Layout/Footer.cshtml")
        @Html.Partial("~/Views/Layout/Script.cshtml")
    </div>
</body>
</html>
